<!-- ******PROMO****** -->

<!-- ******ABOUT****** --> 
<div id="homePage" ng-controller="calculator">
  <section id="about" class="about section">
    <div class="container" ng-controller="teamworkGet">
      <div class="row" ng-repeat="person in employees track by $index" ng-if="$index%4==0">
        <div class="columns three center" ng-if="employees[$index].id">
          <a href="#">
            <div class="image-wrap">
              <img src="{{employees[$index]['avatar-url']}}" alt="First Employee" />
            </div>
            <div class="employee-info">
              <div class="emp-name">{{employees[$index]["first-name"]}} {{employees[$index]["last-name"]}}</div>
              <div class="emp-job-title">{{employees[$index].title}}</div>
            </div>
          </a>
        </div>
        <div class="columns three center" ng-if="employees[$index+1].id">
          <a href="#">
            <div class="image-wrap">
              <img src="{{employees[$index+1]['avatar-url']}}" alt="First Employee" />
            </div>
            <div class="employee-info">
              <div class="emp-name">{{employees[$index+1]["first-name"]}} {{employees[$index+1]["last-name"]}}</div>
              <div class="emp-job-title">{{employees[$index+1].title}}</div>
            </div>
          </a>
        </div>
        <div class="columns three center" ng-if="employees[$index+2].id">
          <a href="#">
            <div class="image-wrap">
              <img src="{{employees[$index+2]['avatar-url']}}" alt="First Employee" />
            </div>
            <div class="employee-info">
              <div class="emp-name">{{employees[$index+2]["first-name"]}} {{employees[$index+2]["last-name"]}}</div>
              <div class="emp-job-title">{{employees[$index+2].title}}</div>
            </div>
          </a>
        </div>
        <div class="columns three center" ng-if="employees[$index+3].id">
          <a href="#">
            <div class="image-wrap">
              <img src="{{employees[$index+3]['avatar-url']}}" alt="First Employee" />
            </div>
            <div class="employee-info">
              <div class="emp-name">{{employees[$index+3]["first-name"]}} {{employees[$index+3]["last-name"]}}</div>
              <div class="emp-job-title">{{employees[$index+3].title}}</div>
            </div>
          </a>
        </div>
      </div>
    </div><!--//container-->
  </section><!--//about-->


  <!-- ******CONTACT****** --> 
  <section id="contact" class="contact section has-pattern">
    <div class="container">
      <div class="contact-inner center">
        <h2 class="title">Efficiency Calculator</h2>
        <p class="intro">Calculate your efficiency for the week.</p>
        <form class="calculator-form" ng-submit="submit()">
          <label>Deputy Clocked Hours</label>
          <input class="teamwork-hours input" ng-model="number2" type="text" />
          <div>+</div>
          <label>Teamwork Logged Time</label>
          <input class="deputy-hours input" ng-model="number1" type="text" />
          <input type="submit" placeholder="Submit" />
        </form>
        <div class="efficiency">Efficiency = {{calculation*100}} %</div>
      </div><!--//contact-inner-->
    </div><!--//container-->
  </section><!--//contact-->  

  <section id="practiceGet" class="section">
    <div class="container">
      <div class="request-inner">
        <div class="title-section center">
          <h2>Practice API Call</h2>
          <p>Pulling test data from test API</p>
        </div>
        <div class="content-section">
          <div class="row">
            <div class="column one-half" ng-controller="practiceGet">
              <h3>Info From Practice API</h3>
              <ul>
                <li>$http status code: {{status}}</li>
                <li>IP: {{data.ip}}</li>
                <li>Hostname: {{data.hostname}}</li>
                <li>City: {{data.city}}</li>
                <li>Region: {{data.region}}</li>
                <li>Country: {{data.country}}</li>
                <li>Location: {{data.loc}}</li>
                <li>Organization: {{data.org}}</li>
                <li>Zip Code: {{data.postal}}</li>
              </ul>
            </div>
            <div class="column one-half" ng-controller="teamworkGet">
              <h3>Info From Teamwork API</h3>
              <ul>
                <li>$http status code: {{status}}</li>
                <li>First Person Company Name: {{data.people[0]["company-name"]}}</li>
                <li>First Person Email Address: {{data.people[0]["email-address"]}}</li>
                <li>First Person ID: {{data.people[0].id}}</li>
                <li ng-repeat="people in data.people">{{people["company-name"]}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



